// ==============breakpoint============

// Extra small screen / phone
@screen-xs: 480px;

// Small screen / tablet
@screen-sm: 576px;

// Medium screen / desktop
@screen-md: 768px;

// Large screen / wide desktop
@screen-lg: 992px;

// Extra large screen / full hd
@screen-xl: 1400px;

// Extra extra large screen / large desktop
@screen-xxl: 1400px;	

@arcoblue-6: #292828;

// @dark-primary-1: rgb(var(--purple-6));